*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #A0EADE;
}
html::-webkit-scrollbar {
    background-color: #f9f9fd;
}

    html::-webkit-scrollbar-thumb {
    background-color: #1D263B;
    border-radius: 10px;
}

    html::-webkit-scrollbar-track {
}
.background-img{
    position: fixed;
    width: 250px;
    right: 5%;
    top: 20%;
    opacity: 0.2;
    z-index: -1;
}
.background-img-2{
    position: fixed;
    width: 250px;
    left: 5%;
    top: 30%;
    opacity: 0.5;
    z-index: -1;
}
.nav-box{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.nav-element{
    position: relative;
    padding: 0 5px;
    cursor: pointer;
}
.nav-element::after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #5C6784;
    transition: 0.3s;
}
.nav-element:hover::after{
    width: 100%;
}
.nav-section{
    text-decoration: none;
    color: #1D263B;
    font-weight: bold;
    font-size: 19px;
}
.block-student{
    padding: 40px 0;
    color: #000;
    font-size: 27px;
    user-select: none;
    text-align: center;
}
.btn-main{
    padding: 12px 23px;
    display: block;
    border-radius: 10px;
    background-color: #157F1F;
    cursor: pointer;
    color: #FFF;
    margin: 0 auto;
    margin-top: 20px;
}
.main-students{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    flex-direction: row;
}
.box-students{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
}
.img__profile-photo{
    max-width: 200px;
    border-radius: 5px;
}
.btn-member{
    display: block;
    margin: 0 auto;
    background-color: #1D263B;
    color: #FFF;
}
.input-name,
.input-age,
.input__place-birth,
.input-language,
.input__profile-img,
.btn__finish-member {
    display: block;
}
.btn__finish-member{
    margin-top: 20px;
    background-color: #4CB963;
    color: #FFF;
    padding: 13px 42px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btn-member{
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.box-info{
    padding: 40px 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}

.coolinput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
}

.coolinput input[type=text].input-cool {
    padding: 17px 15px;
    width: 240px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

.coolinput input[type=text].input-cool:focus {
    outline: none;
}
.coolinput input[type=number].input-cool {
    padding: 17px 15px;
    width: 240px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

.coolinput input[type=number].input-cool:focus {
    outline: none;
}

.input__profile-img {
    display: none;
}


.footer{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 325px;
    font-size: 17px;
    color: #1D263B;
    font-weight: bold;
    user-select: none;
    padding-bottom: 30px;
}